* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

html, body {
  height: 100dvh;
}
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #2B2B2B;
}

input {
  background: none;
  border: none;
  outline: none;
  height: 100%;
}
div.custominput {
  border: 1px solid #707070;
  outline: none;
  background-color: #4E4E4E;
  color: white;
  padding: 0 10px;
  height: 40px;
  border-radius: 5px;

  display: flex;
  flex-direction: row;
}
div.custominput input {
    flex-grow: 1;
    margin-right: 10px;
}
div.custominput button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  outline: none;
  padding: 0 10px;
}
div.custominput button svg {
  width: 20px;
  height: 20px;
}